.banner {
    position: relative;
    
    img {
        width: 100%;
    }

    .banner__text {
        position: absolute;
        top: 55px;
        left: 30%;
        right: 30%;
        text-align: center;

        h6 {
            @extend %header;

        }

        p {
            font-family: $font;
            color: $white
        }

        button {
            @extend %Button;
            display: inline-flex;

        }
    }
}