.reviews {
    padding: 50px 30px;
    padding-bottom: 30px;
    border-radius: 50px;
    background-color: $primary-color;
    margin-top: 50px;
    width: 100%;


    h3 {
        @extend %header;
        text-align: center;
    }

    .review__message {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 60px;
    }

    .section1,
    .section2,
    .section3 {
        padding: 20px 20px;
        background-color: $white;
        border-radius: 20px;
        width: 300px;


        .review__Text {
            letter-spacing: 0.061em;
            line-height: 1.6;
            margin-top: 15px;
            font-family: $font;
        }

        .heads {

            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 50px;
            }

            p {
                @extend %header;
                color: $secondary-color;
                font-size: 0.8rem;
                font-weight: 400;

                span {
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }
        }

    }

    .section2,
    .section3 {
        margin-left: 10px;
    }
}

// Company Affiliation section 
.company__affiliation {
    margin-top: 65px;
    display: flex;

    img {
        width: 100%;
    }
}