<!-- Company__Affiliation -->
<div class="company__affiliation">
    <section class="company1">
      <img
        src="{{ url_for('static', filename='Images/affiliation/company1.svg') }}"
        alt="Company Affiliation" />
    </section>
    <section class="company2">
      <img
        src="{{ url_for('static', filename='Images/affiliation/company2.svg') }}"
        alt="Company Affiliation" />
    </section>
    <section class="company3">
      <img
        src="{{ url_for('static', filename='Images/affiliation/company3.svg') }}"
        alt="Company Affiliation" />
    </section>
    <section class="company4">
      <img
        src="{{ url_for('static', filename='Images/affiliation/company4.svg') }}"
        alt="Company Affiliation" />
    </section>
  </div>