<!-- Banner Component -->

<div class="banner">
  <img
    src="{{ url_for('static', filename='Images/others/Banner.jpg') }}"
    alt="Banner Image" />
  <div class="banner__text">
    <h6>Wanna join the interno?</h6>
    <p>It is a long established fact will be distracted.</p>
    <button>
      Contact With Us
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="17"
        fill="none"
        viewBox="0 0 18 17">
        <path
          stroke="#fff"
          stroke-linecap="square"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 8.435 14.723 8.3M9.618 1.91l6.523 6.523-6.654 6.655" />
      </svg>
    </button>
  </div>
</div>
