<!-- Slideshow container -->
<div class="slideshow-container">
  <!-- images with number -->
  <div class="mySlides fade">
    <!-- <img src="#" alt="carosel image 1" /> -->
    <p style="text-align: center; padding-top: 10px">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur
      dolorum perferendis incidunt accusantium aliquid, possimus cum dolor ipsum
      asperiores amet harum ipsam quae optio provident. Illum, ex explicabo?
      Distinctio, libero?
    </p>
  </div>

  <div class="mySlides fade">
    <!-- <img src="#" alt="carosel image 2" /> -->
    <p style="text-align: center; padding-top: 10px">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
      corrupti?
    </p>
  </div>

  <div class="mySlides fade">
    <!-- <img src="#" alt="carosel image 3" /> -->
    <p style="text-align: center; padding-top: 10px">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem nulla
      reiciendis voluptatibus omnis reprehenderit et?
    </p>
  </div>

  <!-- Next and previous buttons -->
  <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
  <!-- <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
</div>
