<!-- Slideshow container -->
<div class="slideshow-container">
  <!-- images with number -->
  <div class="mySlides fade">
    <img
      src="{{ url_for('static', filename='Images/Display/Displayimg.jpg') }}"
      alt="carosel image 1" />
  </div>

  <div class="mySlides fade">
    <img
      src="{{ url_for('static', filename='Images/Display/Displayimg7.jpg') }}"
      alt="carosel image 2" />
  </div>

  <div class="mySlides fade">
    <img
      src="{{ url_for('static', filename='Images/Display/Displayimg2.jpg') }}"
      alt="carosel image 3" />
  </div>

  <div class="mySlides fade">
    <img
      src="{{ url_for('static', filename='Images/Display/Displayimg3.jpg') }}"
      alt="carosel image 4" />
  </div>

  <div class="mySlides fade">
    <img
      src="{{ url_for('static', filename='Images/Display/Displayimg4.jpg') }}"
      alt="carosel image 5" />
  </div>

  <div class="mySlides fade">
    <img
      src="{{ url_for('static', filename='Images/Display/Displayimg5.jpg') }}"
      alt="carosel image 6" />
  </div>

  <div class="mySlides fade">
    <img
      src="{{ url_for('static', filename='Images/Display/Displayimg6.jpg') }}"
      alt="carosel image 7" />
  </div>

  <!-- Next and previous buttons -->
  <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
  <!-- <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
</div>
