<!-- Review section -->
<div class="reviews">
  <h3>
    <span>What the People Thinks</span>
    <span> About Us</span>
  </h3>
  <!-- Review message -->
  <section class="review__message">
    <section class="section1">
      <section class="heads">
        <img
          src="{{ url_for('static', filename='Images/Person1.jpg') }}"
          alt="Person1"
          loading="lazy" />
        <p><span>Natasha</span>Moscow, Russia</p>
      </section>
      <section class="review__Text">
        Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has
        been.
      </section>
    </section>
    <section class="section2">
      <section class="heads">
        <img
          src="{{ url_for('static', filename='Images/Person2.jpg') }}"
          alt="Person2"
          loading="lazy" />
        <p><span>Raymond Galario</span> UK, London</p>
      </section>
      <section class="review__Text">
        Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has
        been scrambled it to make a type book.
      </section>
    </section>
    <section class="section3">
      <section class="heads">
        <img
          src="{{ url_for('static', filename='Images/Person3.jpg') }}"
          alt="Person3"
          loading="lazy" />
        <p><span>Benny Roll</span> USA, New York</p>
      </section>
      <section class="review__Text">
        Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has
        been scrambled.
      </section>
    </section>
  </section>
</div>
