@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-left: 17%;
  padding-right: 17%;
}

.pageTwo .textContent button, .hero .text button {
  margin-top: 2rem;
  border: none;
  padding: 15px 2rem;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #fff;
}
.pageTwo .textContent button svg, .hero .text button svg {
  width: 12px;
}

.reviews .section1 .heads p,
.reviews .section2 .heads p,
.reviews .section3 .heads p, .reviews h3, .pageTwo .textContent h2, .hero .text h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3.1rem;
  color: #fff;
}
.reviews .section1 .heads p span,
.reviews .section2 .heads p span,
.reviews .section3 .heads p span, .reviews h3 span, .pageTwo .textContent h2 span, .hero .text h1 span {
  display: block;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-left: 17%;
  padding-right: 17%;
}

.pageTwo .textContent button, .hero .text button {
  margin-top: 2rem;
  border: none;
  padding: 15px 2rem;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #fff;
}
.pageTwo .textContent button svg, .hero .text button svg {
  width: 12px;
}

.reviews .section1 .heads p,
.reviews .section2 .heads p,
.reviews .section3 .heads p, .reviews h3, .pageTwo .textContent h2, .hero .text h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3.1rem;
  color: #fff;
}
.reviews .section1 .heads p span,
.reviews .section2 .heads p span,
.reviews .section3 .heads p span, .reviews h3 span, .pageTwo .textContent h2 span, .hero .text h1 span {
  display: block;
}

header {
  padding-top: 20px;
  font-family: "Jost", sans-serif;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .logo svg {
  width: 10rem;
  height: 2.2rem;
}
header nav .navitems {
  width: 70%;
}
header nav .navitems ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding-top: 2px;
  gap: 10px;
}
header nav .navitems ul li {
  list-style: none;
}
header nav .navitems ul li a {
  text-decoration: none;
  color: #292F36;
  text-transform: capitalize;
}
header nav .navitems ul li a.active {
  color: #C76904;
}
header nav .navitems ul li svg {
  width: 1.5rem;
  height: 1.2em;
  padding-top: 2px;
}

.hero {
  margin-top: 50px;
  position: relative;
  border-radius: 90px 0px 90px 0px;
}
.hero img {
  width: 100%;
}
.hero .text {
  position: absolute;
  top: 10%;
  left: 4%;
}
.hero .text h1 span {
  display: block;
}
.hero .text p {
  font-family: "Inter", sans-serif;
  margin-top: 5px;
  color: #fff;
  font-size: 1.2rem;
}
.hero .text p span {
  display: block;
}
.hero .text button {
  background-color: #D8A876;
}

.services {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.services .section1,
.services .section2,
.services .section3 {
  text-align: center;
}
.services .section1 h1,
.services .section2 h1,
.services .section3 h1 {
  font-size: 1.4rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  text-transform: capitalize;
}
.services .section1 p,
.services .section2 p,
.services .section3 p {
  margin-top: 15px;
  font-family: "Jost", sans-serif;
  letter-spacing: 0.033em;
  color: #4D5053;
}
.services .section1 a,
.services .section2 a,
.services .section3 a {
  display: block;
  margin-top: 15px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  color: #4D5053;
  text-decoration: none;
}
.services .section1 a svg,
.services .section2 a svg,
.services .section3 a svg {
  width: 20px;
  padding-top: 8px;
}

.pageTwo {
  margin-top: 50px;
  position: relative;
  display: flex;
  width: 100%;
}
.pageTwo img {
  width: 100%;
}
.pageTwo .textContent {
  position: absolute;
  top: 20%;
  left: 2%;
}
.pageTwo .textContent h2 {
  font-size: 2.7rem;
}
.pageTwo .textContent p {
  font-family: "Jost", sans-serif;
  color: #fff;
  font-size: 1.2rem;
}
.pageTwo .textContent p span {
  display: block;
}
.pageTwo .textContent .CallMe {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pageTwo .textContent .CallMe span {
  font-weight: 600;
}
.pageTwo .textContent .CallMe svg {
  width: 50px;
}
.pageTwo .textContent button {
  background-color: #D8A876;
}

.reviews {
  padding: 50px 30px;
  padding-bottom: 30px;
  border-radius: 50px;
  background-color: #D8A876;
  margin-top: 50px;
  width: 100%;
}
.reviews h3 {
  text-align: center;
}
.reviews .review__message {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 60px;
}
.reviews .section1,
.reviews .section2,
.reviews .section3 {
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 20px;
  width: 300px;
}
.reviews .section1 .review__Text,
.reviews .section2 .review__Text,
.reviews .section3 .review__Text {
  letter-spacing: 0.061em;
  line-height: 1.6;
  margin-top: 15px;
  font-family: "Jost", sans-serif;
}
.reviews .section1 .heads,
.reviews .section2 .heads,
.reviews .section3 .heads {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews .section1 .heads img,
.reviews .section2 .heads img,
.reviews .section3 .heads img {
  width: 50px;
}
.reviews .section1 .heads p,
.reviews .section2 .heads p,
.reviews .section3 .heads p {
  color: #292F36;
  font-size: 0.8rem;
  font-weight: 400;
}
.reviews .section1 .heads p span,
.reviews .section2 .heads p span,
.reviews .section3 .heads p span {
  font-size: 1.2rem;
  font-weight: 600;
}
.reviews .section2,
.reviews .section3 {
  margin-left: 10px;
}/*# sourceMappingURL=Home.css.map */